<!-- my_tennis_club/ my_tennis_club/members/templates/all_blogs.html: -->

{% extends  "base.html" %}   <!--  "master.html" %} -->
 
{% block title %}
  My Tennis Club - List of all members
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
 
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
 
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
               <div class="site-heading">  
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to Prashant Gole Blog </h3>
                    <p class="text-light">We can  do. a lot more .! &nbsp
                    </p>
               </div>  
            </div>
        </div>
    </div>
</header>

<body>
 
<!--
 <p> <a href="/">HOME</a> 
         <a href="/members/">members</a> &nbsp;&nbsp;&nbsp;
         <a href="/posts/">posts</a>&nbsp;&nbsp;&nbsp;
         <a href="/blogs/">blogs</a>&nbsp;&nbsp;&nbsp;
         <a href="/vouchersmain/">vouchers</a>     
  </p>
-->
 
 <div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in myblog %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author_id }} | {{ post.created_on}} </p>               
                   <p class="card-text">{{post.content|slice:":200" }}</p>
     
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sideb.html' %} {% endblock sidebar %}
    </div>
</div>

</body>
</html>
{% endblock %}
