<!-- c:\my_tennis_club\ my_tennis_club/members/templates/main.html: -->

{% extends  "base.html"  %}   <!-- "master.html" %} -->

{% block title %}
   Main Page
{% endblock %}


{% block content %}
   
<hr>
  <h4>Vouchers Home Page </h4>
 
  <p> <a href="/vadd/">Add Voucher</a> &nbsp;&nbsp;&nbsp;
         <a href="/vedit/">edit Voucher</a>&nbsp;&nbsp;&nbsp;
         <a href="/vouchers/">show/view</a>&nbsp;&nbsp;&nbsp;
         <a href="/vdelete/">Delete Vouchers</a>     
  </p>
 <hr>
  
{% endblock %}
