<!-- my_tennis_club/ my_tennis_club/members/templates/all_members.html: -->

{% extends  "base.html" %}   <!-- "master.html" %} -->
{% block title %}
edit vouchers
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<body>
<hr>
<h5>Add  Voucher</h5>
 <p> <a href="/vadd/">Add Voucher</a> &nbsp;&nbsp;&nbsp;
         <a href="/vedit/">edit Voucher</a>&nbsp;&nbsp;&nbsp;
         <a href="/vouchers/">show/view</a>&nbsp;&nbsp;&nbsp;
         <a href="/vdelete/">Delete Vouchers</a>     
  </p>
 <hr>
<form action="voucherdeleterecord/{{ myvoucher.id }}" method="post">
{% csrf_token %}
<table border="1">
<tr> <td> Voucher Date: </td> 
        <td> <input type="date" id="vvoucher_date" readonly value="{{myvoucher.voucherdate|date:'Y-m-d'}}" name="vvoucher_date"> </td>
<tr>
<tr> <td>Paid To : </td>
        <td> <input  type="text" id="vpaid_to" readonly  value="{{myvoucher.paid_to}}" name="vpaid_to"> </td>
</tr>
<tr> <td> Voucher Amount: </td>
         <td> <input type="text" id="vvoucher_amount" readonly value="{{myvoucher.voucheramount}}"  name="vvoucher_amount"> </td>
</tr>
<tr> <td> Debit/Creit: </td>
        <td> <input type="text" id="vdebitcredit"readonly value="{{myvoucher.debitcredit}}"  name="vdebitcredit"> </td>
</tr>
<tr> <td> Bank / Cash Transaction : </td>
        <td> <input type="text" id="vbankorcash" name="vbankorcash" readonly  value="{{myvoucher.bankorcash}}"  name="vdebitcredit"> </td>
</tr>
<tr> <td> Narration Line 1 :  </td>
        <td> <input type="text" id="vnarration1" readonly value="{{myvoucher.narration1}}" name="vnarration1"> </td>
</tr>
<tr> <td> Narration Line 2 : </td>
        <td> <input type="text" id="vnarration2"  value="{{myvoucher.narration2}}" readonly name="vnarration2">  </td>
</tr>
</table>
<input type="submit" value="Submit">
</form>
</body>
</html>
{% endblock %}